# DB setup

In [1]:
# Import MySQL Connector/Python 
import mysql.connector as connector

connection=connector.connect(user='test',password='Test1234!',auth_plugin='mysql_native_password')

In [2]:
cursor = connection.cursor()

In [3]:
cursor.execute("CREATE DATABASE little_lemon") 
cursor.execute("USE little_lemon")

In [4]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [5]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [6]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [7]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

# Stored procedures

In [8]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon",
    "user" : "test",
    "password" : "Test1234!",
    "auth_plugin" : "mysql_native_password"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_a",
                           pool_size = 2, 
                           **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 2

In [9]:
print("Getting a connection from the pool.")
connection1 = pool.get_connection()

print("Creating a cursor object.")
cursor = connection1.cursor()

Getting a connection from the pool.
Creating a cursor object.

In [10]:
stored_procedure_query="""
CREATE PROCEDURE PeakHours()

BEGIN

SELECT HOUR(BookingSlot) AS BookingHour, COUNT(BookingID) AS HourlyBookings
FROM Bookings
GROUP BY BookingHour
ORDER BY HourlyBookings DESC;

END

"""

In [11]:
cursor.execute(stored_procedure_query)
cursor.callproc("PeakHours")

results = next( cursor.stored_results() )
dataset = results.fetchall()

In [12]:
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

print(columns)

for data in dataset:
    print(data)

['BookingHour', 'HourlyBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [13]:
guest_status_query="""
CREATE PROCEDURE GuestStatus()

BEGIN
SELECT CONCAT(Bookings.GuestFirstName,' ',Bookings.GuestLastName) AS Guest_Name,
CASE
WHEN Employees.Role IN ('Manager', 'Assistant Manager') THEN " Ready to pay" 
WHEN Employees.Role = 'Head Chef' THEN "Ready to serve" 
WHEN Employees.Role = 'Assistant Chef' THEN "Preparing Order"
WHEN Employees.Role = 'Head Waiter' THEN "Order served"
END AS Guest_Status

FROM Bookings
LEFT JOIN
Employees ON Bookings.EmployeeID=Employees.EmployeeID;

END

"""

In [14]:
cursor.execute(guest_status_query)
cursor.callproc("GuestStatus")

results_1 = next( cursor.stored_results() )
dataset_1 = results_1.fetchall()

In [15]:
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

print(columns)

for data in dataset_1:
    print(data)

['Guest_Name', 'Guest_Status']
('Anna Iversen', ' Ready to pay')
('Joakim Iversen', ' Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', ' Ready to pay')
('Diana Pinto', 'Order served')

In [16]:
connection1.close()
print("\nReturning the connection back to the pool.")

Returning the connection back to the pool.

# Sales Report

In [17]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon",
    "user" : "test",
    "password" : "Test1234!",
    "auth_plugin" : "mysql_native_password"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_b",
                           pool_size = 2, 
                           **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_b
The pool size is: 2

In [18]:
import mysql.connector as connector
import datetime as dt

guests = [(8, 'Anees', 'Java', dt.time(18,0), 6), 
          (5, 'Bald', 'Vin', dt.time(19,0), 6),
          (12, 'Jay', 'Kon', dt.time(19,30), 6), ]

insert_bookings_query="INSERT INTO Bookings (TableNo, GuestFirstName, \
GuestLastName, BookingSlot, EmployeeID) \
VALUES ({}, '{}', '{}', '{}', {})"

# Assign connection to each user
for guest in guests:
    try:
        guest_connection = pool.get_connection()
        print("[{}] is connected.\n".format(guest[1]))
    except:
        print("No more connections are available.")
        print("Adding new connection in the pool.")
        
        # Create a connection
        connection=connector.connect(**dbconfig)
        # Add the connection into the pool
        pool.add_connection(cnx=connection)
        print("A new connection is added in the pool.\n")
        
        guest_connection = pool.get_connection()
        print("[{}] is connected.\n".format(guest[1]))
        
    cursor = guest_connection.cursor()
    cursor.execute(insert_bookings_query.format(guest[0], guest[1],guest[2],guest[3],guest[4]))
    guest_connection.commit()
    print("\nReturning the connection back to the pool.")
    guest_connection.close()

[Anees] is connected.


Returning the connection back to the pool.
[Bald] is connected.


Returning the connection back to the pool.
[Jay] is connected.


Returning the connection back to the pool.

In [19]:
print("Acquiring connection")
connection = pool.get_connection()
cursor = connection.cursor()

Acquiring connection

In [20]:
manager_query = """
SELECT Name, EmployeeID FROM Employees WHERE Role = 'Manager';
"""
cursor.execute(manager_query)
results = cursor.fetchall()
cols = cursor.column_names
print('Manager is: \n')
print(cols)
for r in results:
    print(r)

Manager is:

('Name', 'EmployeeID')
('Mario Gollini', 1)

In [21]:
highest_paid_query = """
SELECT Name, Role FROM Employees ORDER BY Annual_Salary DESC LIMIT 1;
"""

cursor.execute(highest_paid_query)
results = cursor.fetchall()
cols = cursor.column_names
print('Highest paid employee is: \n')
print(cols)
for r in results:
    print(r)

Highest paid employee is:

('Name', 'Role')
('Mario Gollini', 'Manager')

In [22]:
guest_count_query="""
SELECT COUNT(BookingID) FROM Bookings WHERE HOUR(BookingSlot) BETWEEN 18 AND 20;
"""
cursor.execute(guest_count_query)
results = cursor.fetchall()
cols = cursor.column_names
print('Number of guests booked between 18-20 is: {}'.format(results[0][0]))

Number of guests booked between 18-20 is: 7

In [23]:
guest_to_be_seated_query="""
SELECT CONCAT(Bookings.GuestFirstName,' ',Bookings.GuestLastName) AS Guest_Name, Bookings.BookingID
FROM Bookings
LEFT JOIN
Employees ON Bookings.EmployeeID=Employees.EmployeeID
WHERE Employees.Role = 'Receptionist'
ORDER BY Bookings.BookingSlot ASC;
"""
cursor.execute(guest_to_be_seated_query)
results = cursor.fetchall()
cols = cursor.column_names
print('Queue of guests to be setaed: \n')
print(cols)
for r in results:
    print(r)

Queue of guests to be setaed:

('Guest_Name', 'BookingID')
('Anees Java', 7)
('Bald Vin', 8)
('Jay Kon', 9)

In [24]:
guest_status_query="""
CREATE PROCEDURE BasicSalesReport()

BEGIN
SELECT CONCAT('$', SUM(BillAmount)) AS Total_sales, 
CONCAT('$', ROUND(AVG(BillAmount), 2)) AS Avg_sale,
CONCAT('$', MAX(BillAmount)) AS Max_bill,
CONCAT('$', MIN(BillAmount)) AS Min_bill
FROM Orders;

END

"""

In [25]:
cursor.execute(guest_status_query)
cursor.callproc("BasicSalesReport")

results = next( cursor.stored_results() )
dataset = results.fetchall()
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

print(columns)

for data in dataset:
    print(data)
    
connection.close()
print("\nReturning the connection back to the pool.")

['Total_sales', 'Avg_sale', 'Max_bill', 'Min_bill']
('$243', '$48.60', '$86', '$37')

Returning the connection back to the pool.

In [26]:
print("Acquiring connection")
connection = pool.get_connection()
cursor = connection.cursor()

next_three_guests_query="""
SELECT Bookings.BookingSlot,
CONCAT(Bookings.GuestFirstName,' ',Bookings.GuestLastName) AS Guest_Name,
Employees.Name, Employees.Role
FROM Bookings
LEFT JOIN
Employees ON Bookings.EmployeeID=Employees.EmployeeID
ORDER BY Bookings.BookingSlot ASC
LIMIT 3;
"""
cursor.execute(next_three_guests_query)
results = cursor.fetchall()

for r in results:
    print('{} \n {} \n Assigned to: {} [{}]'.format(r[0], r[1],r[2],r[3]))
    
connection.close()
print("\nReturning the connection back to the pool.")

Acquiring connection
15:00:00
 Vanessa McCarthy
 Assigned to: Giorgos Dioudis [Head Chef]
17:30:00
 Marcos Romero
 Assigned to: Fatma Kaya [Assistant Chef]
18:00:00
 Anees Java
 Assigned to: John Millar [Receptionist]

Returning the connection back to the pool.